* {
  display: flexbox;
}
h1 {
  text-align: center;
}
body {
  background-size: cover;
  background-color: whitesmoke;
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid2 {
  margin-top: -20px;
}
#profile {
  text-align: right;
  padding-right: 3%;
}
#menu {
  text-align: center;
  padding-right: 20%;
  padding-left: 20%;
  background-color: rgb(4, 4, 39, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
#socials {
  padding-top: 3%;
  text-align: right;
  padding-right: 3%;
}
#gallery {
  text-align: center;
}
#about {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  font-weight: 350;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  background-color: rgba(180, 164, 164, 0.2);
  border-radius: 5px;
}
#serv {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 5px;
  background-color: rgb(4, 4, 39, 0.3);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 20px;
}
#wel {
  background-image: url("https://images.pexels.com/photos/1843717/pexels-photo-1843717.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  margin-bottom: -15px;
  padding-top: 10px;
  margin: -10px;
}
#par1 {
  margin-top: -20px;
  margin-bottom: -20px;
}
#we {
  font-size: 35px;
  padding-left: 20px;
}
#hom {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: rgb(247, 242, 242, 0.5);
}
#gal {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: rgb(247, 242, 242, 0.5);
}
#img {
  border: 2px solid rgb(2, 2, 44);
  border-radius: 50px 0 50px 25px;
}
#hd1 {
  font-size: 50px;
}
#image1 {
  border: 2px solid grey;
  border-radius: 3%;
}
#image2 {
  border: 2px solid grey;
  border-radius: 3%;
}
#image3 {
  border: 2px solid grey;
  border-radius: 3%;
}
#image4 {
  border: 2px solid grey;
  border-radius: 3%;
}
#image5 {
  border: 2px solid grey;
  border-radius: 3%;
}
#image6 {
  border: 2px solid grey;
  border-radius: 3%;
}
#image7 {
  border: 2px solid grey;
  border-radius: 3%;
}
#image1:hover {
  border: 2px solid rgb(238, 196, 142);
}
#image2:hover {
  border: 2px solid rgb(238, 196, 142);
}
#image3:hover {
  border: 2px solid rgb(238, 196, 142);
}
#image4:hover {
  border: 2px solid rgb(238, 196, 142);
}
#image5:hover {
  border: 2px solid rgb(238, 196, 142);
}
#image6:hover {
  border: 2px solid rgb(238, 196, 142);
}
#image7:hover {
  border: 2px solid rgb(238, 196, 142);
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
#heading {
  background-color: white;
  font-size: 20px;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  border-radius: 5px;
}
.shadow {
  box-shadow: 0px 4px 8px 0px rgb(128, 147, 165, 0.3), 0 6px 10px 0 rgb(7, 7, 7, 0.2);
}