body {
  background-color: whitesmoke;
}
.gridbox {
  margin-top: -10px;
  display: grid;
  grid-template-columns: auto 85%;
}
#wel {
  font-size: 35px;
  height: 40px;
}
.grid2 {
  background-color: grey;
  position: relative;
  height: 550px;
  margin: 0 -10px 0 0;
}
.innerbox {
  background-color: cornsilk;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 75%;
  width: 80%;
}
.innercircle {
  text-align: center;
  position: absolute;
  left: 17%;
  top: 30%;
  height: 70px;
  width: 70px;
  background-color: grey;
  border-radius: 50%;
  z-index: 1;
}
#by {
  margin-top: 25px;
  font-size: 25px;
}
#art {
  position: absolute;
  left: 2%;
  top: 0%;
  font-size: 70px;
}
#jho {
  position: absolute;
  left: 25%;
  top: 30%;
  font-size: 70px;
  z-index: 1;
}
#p {
  position: absolute;
  left: 14%;
  bottom: -10%;
  font-size: 120px;
}
#ort {
  position: absolute;
  left: 20%;
  bottom: 5%;
  text-align: left;
  font-size: 60px;
  z-index: 1;
}
#folio {
  position: absolute;
  text-align: left;
  bottom: -6%;
  left: 20%;
  font-size: 60px;
  z-index: 1;
}
#fol {
  padding-left: 80px;
}
hr {
  margin-bottom: -5px;
}
.menu {
  width: 100%;
  height: 40px;
  background-color: white;
}
ul {
  list-style-type: none;
  padding-right: 6%;
  text-align: right;
  font-size: 18px;
}
li {
  display: inline;
}
.about {
  position: relative;
  height: 500px;
  background-color: khaki;
}
.pic {
  position: absolute;
  left: 4%;
  top: 3%;
  right: 68%;
  bottom: 20%;
  background-color: black;
  z-index: 1;
}
.info {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 30%;
  background-color: lavender;
}
.details {
  position: absolute;
  bottom: 0%;
  left: 0%;
  top: 80%;
  right: 68%;
  background-color: whitesmoke;
}